# See http://help.github.com/ignore-files/ for more about ignoring files.

.npmrc

# compiled output
dist
tmp
/out-tsc
vite.config.*.timestamp*

# dependencies
node_modules

# caches
.nx
.eslintcache
/.sass-cache

# IDEs and editors
/.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# AI tools
.cursor
/.playwright-mcp

# tests
/coverage
**/coverage
/connect.lock
testem.log

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log

# misc
/typings
/libpeerconnection.log

# System Files
.DS_Store
Thumbs.db
